.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  background-color: rgb(255, 255, 255);
}
.navigation-list {
  padding-left: 20px;
  font-size: 14.667px;
  font-family: "OpenSans", "BrowalliaUPC";
}

.navigation-item {
  display: inline-block;
  margin-right: 60px;
  padding: 5px 10px;
  /*----------------------------------*/
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0);
  /*----------------------------------*/
}

.navigation-link {
  text-decoration: none;
  line-height: 2;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.5);
}


/*Start header style*/

.header {
  margin-bottom: 50px;
}

.header-navigation-list {
  background-image: -moz-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
}

.header-navigation-link {
  color: rgb(255, 255, 255);
}

.header-navigation-item:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  background-color: rgb(255, 255, 255);
  border-top: none;
  border-bottom: none;
}

/*End header style*/


/*Start content style*/

.menu {
  float: left;
  margin-right: 5%;
  width: 25%;
}

.menu-list {
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
}

.menu-item {
  padding: 10px 0 10px 10px;
  list-style: none;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.menu-item:last-child {
  border: none;
}

.menu-item:hover {
  color: black;
  padding-left: 30px;
}

.menu-link {
  text-decoration: none;
  color: rgb(101, 99, 99);
}

.main-content {
  float: left;
  width: 70%;
}
.main-picture {
  padding: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
}

.text-content {
  padding: 25px;
}

/*End content style*/

/*Start footer style*/

.footer-navigation {
  background-color: #e1e1e1;
}

.footer-navigation-list {
  color: black;
  float: left;
  margin: 0;
}

.footer-navigation-item:hover {
  text-decoration: underline;
}

.footer-navigation-link {
  color: rgb(44, 44, 44);
}

.rights {
  font-size: 13.333px;
  font-family: "OpenSans";
  color: rgb(44, 44, 44);
  line-height: 2.2;
}

.rights-container {
  float: right;
  padding: 6px 25px;
}

/*End footer style*/