.user-name {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid #3c3c3c;
}

.adding-task-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#add-task-field {
    width: 90%;
}

.table-heading,
.task-date {
    text-align: center;
}

.tasks-list {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 250px;
}

.task-item {
    padding: 5px;
}